# Dataset directory (Too large for GitHub)
eye/
eye.zip

# Python Bytecode & Cache
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Virtual Environment
env/
venv/
ENV/
.venv

# IDE / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Model Checkpoints (Keep only final model if needed)
best_efficientnet_phase1.keras
